body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
}

h1 {
    font-size: 26px;
    font-weight: bold;
}

.displays-de-rolagens {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    min-height: 100px;
}

.selecionar-dados {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.dados {
    margin: 8px;
    transition: transform 0.5s ease, filter 0.5s ease;
    width: 50px;
    height: auto;
}

.dados:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.dados:not(:hover) {
    transform: scale(1);
}

.rolar-dados {
    background-color: white;
    color: black;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.rolar-dados:hover {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease;
}

.bonus {
    background-color: transparent;
    font-family: "JetBrains Mono", monospace;
    text-align: center;
    color: white;
    max-width: 100px;
    margin-bottom: 20px;
}

.resultado-dado {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.resultado-dado img {
    width: 50px;
}

.resultado-dado span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
